<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css\sty.css" />
  <title>Libyan International Technology Day - Zuwara</title>
</head>
<body>
  <div class="content">
    <div class="container">
      <img src="img\clogo.png" alt="..." style="margin-top: 10px; margin-left: 5px; width: 5%; height: 8%;"/>
      <h1>Libyan International Technology Day - Zuwara</h1>
      <img src="img\ind.png" alt="..." style="margin-top: 10px; margin-left: 5px; width: 10%; height: 10%;"/>
    </div>
    <div class ="que">
      <h2>// السؤال</h2>
      <div class="radio-button-container">
        <div class="radio-button">
        <input type="radio" class="radio-button__input" id="radio1" name="radio-group">
        <label class="radio-button__label" for="radio1">
          <span class="radio-button__custom"></span>
          option1
        </label>
      </div>
      <div class="radio-button">
        <input type="radio" class="radio-button__input" id="radio2" name="radio-group">
        <label class="radio-button__label" for="radio2">
          <span class="radio-button__custom"></span>
          option2
        </label>
      </div>
      <div class="radio-button">
        <input type="radio" class="radio-button__input" id="radio3" name="radio-group">
        <label class="radio-button__label" for="radio3">
          <span class="radio-button__custom"></span>
          option3
        </label>
      </div>
      </div>
        </div>   
    <div class ="que">
    <h2>// السؤال</h2>
    <div class="radio-button-container">
      <div class="radio-button">
      <input type="radio" class="radio-button__input" id="radio1" name="radio-group">
      <label class="radio-button__label" for="radio1">
        <span class="radio-button__custom"></span>
        option1
      </label>
    </div>
    <div class="radio-button">
      <input type="radio" class="radio-button__input" id="radio2" name="radio-group">
      <label class="radio-button__label" for="radio2">
        <span class="radio-button__custom"></span>
        option2
      </label>
    </div>
    <div class="radio-button">
      <input type="radio" class="radio-button__input" id="radio3" name="radio-group">
      <label class="radio-button__label" for="radio3">
        <span class="radio-button__custom"></span>
        option3
      </label>
    </div>
    </div>
      </div>   
      <div class ="que">
        <h2>// السؤال</h2>
        <div class="radio-button-container">
          <div class="radio-button">
          <input type="radio" class="radio-button__input" id="radio1" name="radio-group">
          <label class="radio-button__label" for="radio1">
            <span class="radio-button__custom"></span>
            option1
          </label>
        </div>
        <div class="radio-button">
          <input type="radio" class="radio-button__input" id="radio2" name="radio-group">
          <label class="radio-button__label" for="radio2">
            <span class="radio-button__custom"></span>
            option2
          </label>
        </div>
        <div class="radio-button">
          <input type="radio" class="radio-button__input" id="radio3" name="radio-group">
          <label class="radio-button__label" for="radio3">
            <span class="radio-button__custom"></span>
            option3
          </label>
        </div>
        </div>
          </div>   
    <div class="video-bg" loop>
        <div class="overlay"></div>
        <video autoplay loop muted>
          <source src="videos/video.mp4" type="video/mp4">
        </video>
      </div>
  </div>
</body>
</html>
