<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css\sty.css" />
  <title>Libyan International Technology Day - Zuwara</title>
</head>
<body>
  <div class="content">
    <div class="container">
      <img src="img\clogo.png" alt="..." style="margin-top: 10px; margin-left: 5px; width: 5%; height: 8%;"/>
      <h1>Libyan International Technology Day - Zuwara</h1>
      <img src="img\ind.png" alt="..." style="margin-top: 10px; margin-left: 5px; width: 10%; height: 10%;"/>
    </div>
    <div class="card">
    <h2>// السؤال</h2>
    <div class="radio-input">
      <input value="1" name="group1" id="1" type="radio">
      <label for="1"> option 1</label>
      <input value="2" name="group1" id="2" type="radio">
      <label for="2">option 2</label>
      <input value="3" name="group1" id="3" type="radio">
      <label for="3">option 3</label>
    </div>
    </div>
    <div class="card">
      <h2>// السؤال</h2>
      <div class="radio-input">
        <input value="4" name="group2" id="4" type="radio">
        <label for="4"> option 1</label>
        <input value="5" name="group2" id="5" type="radio">
        <label for="5">option 2</label>
        <input value="6" name="group2" id="6" type="radio">
        <label for="6">option 3</label>
      </div>
      </div>
      <div class="card">
        <h2>// السؤال</h2>
        <div class="radio-input">
          <input value="7" name="group3" id="7" type="radio">
          <label for="7"> option 1</label>
          <input value="8" name="group3" id="8" type="radio">
          <label for="8">option 2</label>
          <input value="9" name="group3" id="9" type="radio">
          <label for="9">option 3</label>
        </div>
        </div>
    <div class="video-bg" loop>
        <div class="overlay"></div>
        <video autoplay loop muted>
          <source src="videos/video.mp4" type="video/mp4">
        </video>
      </div>
  </div>
</body>
</html>
