<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css\style.css" />
    <title>Libyan International Technology Day - Zuwara</title>
  </head>
  <body>
    <div class="content">
      <div class="container">
        <img
          src="img\clogo.png"
          alt="..."
          style="margin-top: 10px; margin-left: 5px; width: 5%; height: 8%"
        />
        <h1>Libyan International Technology Day - Zuwara</h1>
        <img
          src="img\ind.png"
          alt="..."
          style="margin-top: 10px; margin-left: 5px; width: 10%; height: 10%"
        />
      </div>
      <h2>اختر اللغة</h2>
      <!--language button-->
      <div class="radio-input">
        <div class="glass">
          <div class="glass-inner"></div>
        </div>
        <div class="selector">
          <div class="choice">
            <div>
              <input
                type="radio"
                id="one"
                name="number-selector"
                value="g++"
                checked="true"
                class="choice-circle"
              />
              <div class="ball"></div>
            </div>
            <label class="choice-name" for="one">C++</label>
          </div>
          <div class="choice">
            <div>
              <input
                type="radio"
                id="two"
                name="number-selector"
                value="python3"
                class="choice-circle"
              />
              <div class="ball"></div>
            </div>
            <label class="choice-name">Python</label>
          </div>
          <div class="choice">
            <div>
              <input
                type="radio"
                id="three"
                name="number-selector"
                value="node"
                class="choice-circle"
              />
              <div class="ball"></div>
            </div>
            <label class="choice-name" for="three">JavaScript</label>
          </div>
        </div>
      </div>
      <!---->
      <div class="code-container">
        <pre>
          <br>
          <br>
          <br>
          <br>
          أكتب برنامج يقوم بحساب مضروب عدد معين Factorial of the number
        </pre>
        <div class="right-side">
          <pre>
          <div style="display: flex;">
            <button class="shadow__btn">Run & Submit</button>
          </div>
        <textarea rows="10" cols="80" placeholder="اكتب الكود هنا"></textarea></pre>
        <pre style="height: 100px"><code>// الناتج</code></pre>
        </div>
      </div>
      <div class="code-container">
        <pre>
          <br>
          <br>
          <br>
          <br>
          أكتب برنامج يقوم بطباعة الأعداد الأولية الموجودة بين 2 و 100
        </pre>
        <div class="right-side">
          <pre>
          <div style="display: flex;">
            <button class="shadow__btn">Run & Submit</button>
          </div>
        <textarea rows="10" cols="80" placeholder="اكتب الكود هنا"></textarea></pre>
          <pre style="height: 100px"><code>// الناتج</code></pre>
        </div>
      </div>
      <div class="code-container">
        <pre>
        <br>
        أكتب برنامج لعبة FizzBuzz, 
        <br>
        البرنامج يطبع الأعداد من 1 الى 100
        <br>
        وإذا كان العدد يقبل القسمة على 3 يطبع Fizz
        <br>
        وإذا كان العدد يقبل القسمة على 5 يطبع Buzz
        <br>
        وإذا كان العدد يقبل القسمة على 3 و 5 يطبع FizzBuzz
    </pre>
        <div class="right-side">
          <pre>
          <div style="display: flex;">
            <button class="shadow__btn">Run & Submit</button>
          </div>
        <textarea rows="10" cols="80" placeholder="اكتب الكود هنا"></textarea></pre>
          <pre style="height: 100px"><code>// الناتج</code></pre>
        </div>
      </div>
      <div class="video-bg" loop>
        <div class="overlay"></div>
        <video autoplay loop muted>
          <source src="videos/vd.mp4" type="video/mp4" />
        </video>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="js\index.js"></script>
  </body>
</html>
