<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css\sty.css" />
  <title>Libyan International Technology Day -Zuwara</title>
</head>
<body>
  <div class="content">
    <div class="container">
      <img src="img\clogo.png" alt="..." style="margin-top: 10px; margin-left: 5px; width: 5%; height: 8%;"/>
      <h1>Libyan International Technology Day - Zuwara</h1>
      <img src="img\ind.png" alt="..." style="margin-top: 10px; margin-left: 5px; width: 10%; height: 10%;"/>
    </div> 
    <form>
    <div class="card">
      (1)<br>
    :ما ناتج البرنامج التالي
    <pre style="text-align: left;">
      <br> #include < iostream ><br> using namespace std;<br> int main(){<br> int r, x = 2;<br> float y = 5;<br> r = y%x;<br> cout<< r;
}</pre>
    <div class="radio-input">
      <input value="1" name="group1" id="1" type="radio"required>
      <label for="1">  0  </label>
      <input value="2" name="group1" id="2" type="radio" required>
      <label for="2">  1  </label>
      <input value="3" name="group1" id="3" type="radio" required>
      <label for="3">compiler error</label>
    </div>
    </div>
    <div class="card">
      (2)<br>
      :ما ناتج البرنامج التالي
      <pre style="text-align: left; margin-top: 20px;">
      <br> #include < iostream > <br> using namespace std;<br> int main(){<br> int i = 5, j = 6, k = 7, n = 3;<br> cout << i + j * k - k % n << endl;
}</pre>
      <div class="radio-input">
        <input value="4" name="group2" id="4" type="radio" required>
        <label for="4">47</label>
        <input value="5" name="group2" id="5" type="radio" required>
        <label for="5">46</label>
        <input value="6" name="group2" id="6" type="radio" required>
        <label for="6">70</label>
      </div>
      </div>
      <div class="card">
        (3)<br>
        :ما ناتج البرنامج التالي
      <pre style="text-align: left; margin-top: 20px;"><br> #include < iostream ><br> using namespace std;<br> int main() {<br> int sum = 0;<br> for (int i = 1; i <= 5; i++) {<br> sum += i * i;<br> }<br> cout << sum << endl;<br> return 0;
}</pre>
        <div class="radio-input">
          <input value="7" name="group3" id="7" type="radio" required>
          <label for="7">77</label>
          <input value="8" name="group3" id="8" type="radio" required>
          <label for="8">66</label>
          <input value="9" name="group3" id="9" type="radio" required>
          <label for="9">55</label>
        </div>
        </div>
        <div class="card">
          (4)<br>
          :ما ناتج البرنامج التالي
        <pre style="text-align: left; margin-top: 20px;"><br> #include < iostream ><br> using namespace std;<br> int main(){<br> int x = 9;<br> cout << "x" << endl;
}</pre>
          <div class="radio-input">
            <input value="10" name="group4" id="10" type="radio" required>
            <label for="10">x</label>
            <input value="11" name="group4" id="11" type="radio" required>
            <label for="11">X</label>
            <input value="12" name="group4" id="12" type="radio" required>
            <label for="12">9</label>
          </div>
          </div>
          <div class="card">
            (5)<br>
            :ما ناتج البرنامج التالي
          <pre style="text-align: left; margin-top: 20px;"><br> #include < iostream ><br> using namespace std;<br> int main() {<br> int num = -21;<br> if (num > 0) {<br> cout << "positive" << endl;}<br> else if (num < 0) {<br> cout << "negative" << endl;<br> } else {<br> cout << "zero." << endl;<br> }<br> return 0;
}</pre>
            <div class="radio-input">
              <input value="13" name="group5" id="13" type="radio" required>
              <label for="13">positive</label>
              <input value="14" name="group5" id="14" type="radio" required>
              <label for="14">negative</label>
              <input value="15" name="group5" id="15" type="radio" required>
              <label for="15">zero</label>
            </div>
            </div>
            <div class="card">
              (6)<br>
              :ما ناتج البرنامج التالي
            <pre style="text-align: left; margin-top: 20px;"><br> #include < iostream ><br> using namespace std;<br> int main() {<br> for (int i = 1; i <= 5; i++) {<br> for (int j = 1; j <= i; j++) {<br> cout << "*";<br> }<br> cout << endl;<br> }<br> return 0;
}</pre>
              <div class="radio-input">
                <input value="16" name="group6" id="16" type="radio" required>
                <label for="16"><pre>*<br> **<br>  ***<br>   ****<br>    *****</pre></label>
                <input value="17" name="group6" id="17" type="radio" required>
                <label for="17"><pre>*<br>**<br>***<br>**<br>*</pre></label>
                <input value="18" name="group6" id="18" type="radio" required>
                <label for="18"><pre>*<br>**<br>***<br>****<br>*****</pre></label>
              </div>
              </div>
              <div class="card">
                (7)<br>
                :ما ناتج البرنامج التالي
                <pre style="text-align: left; margin-top: 20px;"><br> #include < iostream ><br> using namespace std;<br> int main() {<br> int x = 5;<br> int y = 2;<br> cout << x / y;<br> return 0;
}<pre>
                <div class="radio-input">
                  <input value="19" name="group7" id="19" type="radio" required>
                  <label for="19">2</label>
                  <input value="20" name="group7" id="20" type="radio" required>
                  <label for="20">2.5</label>
                  <input value="21" name="group7" id="21" type="radio" required>
                  <label for="21">3</label>
                </div>
                </div>
                <div class="card">
                  (8)<br>
                  :ما ناتج البرنامج التالي
                  <pre style="text-align: left; margin-top: 20px;"><br> #include < iostream ><br> using namespace std;<br> int main() {<br> int x = 10;<br> int y = 3;<br> cout << x % y;<br> return 0;
}<pre>
                  <div class="radio-input">
                    <input value="22" name="group8" id="22" type="radio" required>
                    <label for="22">1</label>
                    <input value="23" name="group8" id="23" type="radio" required>
                    <label for="23">3</label>
                    <input value="24" name="group8" id="24" type="radio" required>
                    <label for="24">0</label>
                  </div>
                  </div>
                  <div class="card">
                    (9)<br>
                    :ما ناتج البرنامج التالي
                    <pre style="text-align: left; margin-top: 20px;"><br> #include < iostream ><br> using namespace std;<br> int main() {<br> int x = 10;<br> int y = 3;<br> cout << x / y * y;<br> return 0;
}<pre>
                    <div class="radio-input">
                      <input value="25" name="group9" id="25" type="radio" required>
                      <label for="25">9</label>
                      <input value="26" name="group9" id="26" type="radio" required>
                      <label for="26">9.9</label>
                      <input value="27" name="group9" id="27" type="radio" required>
                      <label for="27">10</label>
                    </div>
                    </div>
                    <div class="card">
                      (10)<br>
                      :ما ناتج البرنامج التالي
                      <pre style="text-align: left; margin-top: 20px;"><br> #include < iostream ><br> using namespace std;<br> int main() {<br> int x = 3;<br> int y = 2;<br> cout << x + y * x;<br> return 0;
}<pre>
                      <div class="radio-input">
                        <input value="28" name="group10" id="28" type="radio" required>
                        <label for="28">6</label>
                        <input value="29" name="group10" id="29" type="radio" required>
                        <label for="29">8</label>
                        <input value="30" name="group10" id="30" type="radio" required>
                        <label for="30">15</label>
                      </div>
                      </div>
                      <div class="card">
                        (11)<br>
                        :ما ناتج البرنامج التالي
                        <pre style="text-align: left; margin-top: 20px;"><br> #include < iostream ><br> using namespace std;<br> int main() {<br> int x = 10;<br> int y = 3;<br> cout << x % y * x;<br> return 0;
}<pre>
                        <div class="radio-input">
                          <input value="31" name="group11" id="31" type="radio" required>
                          <label for="31">10</label>
                          <input value="32" name="group11" id="32" type="radio" required>
                          <label for="32">20</label>
                          <input value="33" name="group11" id="33" type="radio" required>
                          <label for="33">30</label>
                        </div>
                        </div>
                        <div class="card">
                          (12)<br>
                          :ما ناتج البرنامج التالي
                          <pre style="text-align: left; margin-top: 20px;"><br> #include < iostream ><br> using namespace std;<br> int main() {<br> int x = 5;<br> int y = 2;<br> cout << x * y;<br> return 0;
}<pre>
                          <div class="radio-input">
                            <input value="34" name="group12" id="34" type="radio" required>
                            <label for="34">10</label>
                            <input value="35" name="group12" id="35" type="radio" required>
                            <label for="35">25</label>
                            <input value="36" name="group12" id="36" type="radio" required>
                            <label for="36">2.5</label>
                          </div>
                          </div>
                            
                                  
        <button class="shadow__btn">تسليم الإجابة</button>
        <br>
      </form>
    <div class="video-bg" loop>
        <div class="overlay"></div>
        <video autoplay loop muted>
          <source src="videos/video.mp4" type="video/mp4" >
        </video>
      </div>
  </div>
</body>
</html>
