body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  position: relative;
}

.content {
  position: relative;
  z-index: 1;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 20px;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
}

.container img {
  padding: 10px;
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  animation: glowy 2s infinite;
  margin-top: 5%;
}

  h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    margin-top: 5%;
  }

  .video-bg {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100vh; 
    z-index: -1;
    overflow: hidden;
}

.video-bg video {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
  @keyframes glowy {
    0% {
      text-shadow: 0 0 15px rgb(110, 149, 255);
    }
    50% {
      text-shadow: 0 0 20px rgb(2, 37, 90);
    }
    100% {
      text-shadow: 0 0 19px rgb(63, 40, 105);
    }
  }
  a {
    text-decoration: none; 
    color: inherit; 
  }
    

  button {
    --glow-color: rgb(255, 255, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 0.5em 0.1em var(--glow-color),
           0 0 2em 0.5em var(--glow-spread-color),
           inset 0 0 0.5em 0.1em var(--glow-color);
    text-shadow: 0 0 0.1em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }

   .radio-input {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.radio-input input[type="radio"] {
    display: none;
}

.radio-input label {
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #8807b790;
    border-radius: 5px;
    margin-right: 12px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
    width: 100px;
    height: 80px;
    text-align: center;
}

  
  .radio-input label:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ccc;
    transition: all 0.3s ease-in-out;
    text-align: center;
  }
  
  .radio-input input[type="radio"]:checked + label:before {
    background-color: royalblue;
    top: 0;
  }
  
  .radio-input input[type="radio"]:checked + label {
    background-color: rgb(6, 26, 88);
    color: #fff;
    border-color: royalblue;
    animation: radio-translate 0.5s ease-in-out;
  }
  
  @keyframes radio-translate {
    0% {
      transform: translateX(0);
    }
  
    50% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  
  .card {
    margin-top: 30px;
    --background: linear-gradient(to left, #1500ff4a 0%, #2e0c4f8d 100%);
    width: 700px;
    height: 550px;
    border-radius: 1rem;
    overflow: visible;
    background: #1500ff4a;
    background: var(--background);
    position: relative;
    z-index: 1;
    text-align: center;
  color: white;
  margin-bottom: 20px;
  margin-top: 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
   }
   


   
   .shadow__btn {
    margin: auto;
    text-align: center;
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    color: #ffffff;
    border-radius: 70px;
    font-weight: 400;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
 .shadow__btn {
    background: rgb(63, 40, 105);
    box-shadow: 0 0 25px rgb(63, 40, 105);
  }.shadow__btn:hover {
    box-shadow: 0 0 5px rgb(63, 40, 105),
                0 0 25px #3f2869,
                0 0 50px rgb(63, 40, 105),
                0 0 100px rgb(63, 40, 105);
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px rgb(63, 40, 105),
                0 0 25px #3f2869,
                0 0 50px rgb(63, 40, 105),
                0 0 100px rgb(63, 40, 105);
  }
 
